.experience-body {
  display: flex;
  justify-content: space-between;
}

.section-date {
  padding: 15px;
  font-size: 20px;
}

.item-text {
  font-size: 18px;
  color: var(--four-color);
  margin-bottom: 10px;
}

.item-text:last-child {
  margin-bottom: 0;
}

.item-title {
  margin-bottom: 10px;
}

.section-subtitle {
  color: var(--three-color);
  font-size: 24px;
  font-weight: 600;
}

.item-subtitle {
  margin-bottom: 20px;
}

.section-description {
  color: var(--four-color);
  font-size: 22px;
  font-weight: 600;
}

.list-text {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 15px;
}

.list-text:last-child {
  margin-bottom: 0;
}

.list-text::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  left: -0.5px;
  border-radius: 50%;
  background-color: var(--three-color);
}

@media (max-width: 924px) {
  .experience-body {
    flex-direction: column;
  }

  .section-item:nth-child(2) {
    align-self: flex-end;
  }
}

@media (max-width: 768px) {
  .section-date {
    padding: 0;
    margin-bottom: 20px;
  }

  .section-subtitle {
    font-size: 22px;
  }

  .item-text {
    font-size: 16px;
  }

  .section-description {
    font-size: 20px;
  }

  .list-text::before {
    width: 7px;
    height: 7px;
  }
}

@media (max-width: 468px) {
  .section-subtitle {
    font-size: 20px;
  }

  .item-text {
    font-size: 16px;
  }

  .section-description {
    font-size: 18px;
  }

  .list-text::before {
    width: 6px;
    height: 6px;
  }
}
