.education-body {
  display: flex;
  justify-content: space-between;
}

.item-body {
  margin-bottom: 20px;
}

.item-body:last-child {
  margin-bottom: 0;
}

.education-titles {
  margin-bottom: 20px;
}

.education-titles:last-child {
  margin-bottom: 0;
}

.education-title {
  margin-bottom: 10px;
}

.education-description {
  line-height: 1.5;
}

@media (max-width: 924px) {
  .education-body {
    flex-direction: column;
  }
}
